:root{
    --text-color: #F5F0ED;
    --accent-color: #E8949E;
    --secondary-color: #4A4A4A;
}

/*-------------Global CSS---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
body {
    background-color: #1A1A1A;
}
/*-------------Homepage CSS---------------*/
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.heading-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    border-radius: 0.5em;
    color: var(--text-color);
}

.heading-container div {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.heading-container div:hover {
    background-color: var(--accent-color);
    border-radius: 0.5em;
}

.components-container{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 2em;
}

/*-------------About Me CSS---------------*/
.about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
    color: var(--text-color)
}   

/*-------------Experience CSS---------------*/
.timeline {
    position: relative;
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
    color: var(--text-color);
}


.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #ccc;
}

.timeline-item {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: center;

}

/* Timeline dot stays in center */
.timeline-dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background-color: var(--accent-color);
    border-radius: 50%;
    z-index: 1;
}

.timeline-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--accent-color);
    width: 45%;
    background-color: var(--secondary-color);
    position: relative; 

}
.timeline-date {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 0.9em;
    color: #bbb;
}

.timeline-content h3 {
    color: var(--accent-color);
}

.timeline-content h4 {
    color: var(--accent-color);
}

/* Left side (odd items) */
.timeline-item:nth-child(odd) {
    justify-content: flex-start;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-right: 5%;
}

/* Right side (even items) */
.timeline-item:nth-child(even) {
    justify-content: flex-end;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: 5%;
}
